@import url('variables.css');
@import url('../../node_modules/@fortawesome/fontawesome-free/css/all.css');
@font-face{
    font-family: "Principal";
    src: url('Honey\ Baby.ttf') format('truetype'), 
        url('Honey\ Baby.woff') format('woff'), 
        url('Honey\ Baby.woff2') format('woff'), 
        url('Honey\ Baby.otf') format('opentype');
}
@font-face{
    font-family: "Titulo";
    src: url('cinema_st.ttf') format('truetype');
}
body {
    background-color: var(--principal-background-color, white);
    color: var(--principal-text-color, black);
    margin: 0;
    font-family: 'Principal';
}
main {
    margin: 5px 10px;
}

.cabecera-principal, .pie-principal, body > header, body > footer {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--secundario-background-color, black);
    color: white;
    padding: 10px;
    align-items: stretch;
}
.cabecera-principal a, .pie-principal a, body > header a, body > footer a {
    color: white;
    text-decoration: none;
    padding: 2px 5px;
}
.cabecera-principal a:hover, .pie-principal a:hover, body > header a:hover, body > footer a:hover {
    color: var(--secundario-background-color, black);
    background-color: var(--secundario-text-color, black);
    text-decoration: none;
    border-radius: 25px;
}
.cabecera-principal, body > header {
    position: sticky;
    top: 0;
}

.cabecera-principal__logo, #logo {
    flex-grow: 1;
    max-width: 120px;
}

.cabecera-principal__menu {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.cabecera-principal__login {
    text-align: right;
    flex-grow: 1;
}

.cabecera-principal__login__sumit{
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #cbccd4;
}
.cabecera-principal__login--hidden {
    display: none;
}
.cabecera-principal__logout {
    align-self: flex-start;
}
.cabecera-principal--hidden {
    display: none;
}

.cabecera-principal__logout--hidden {
    display: none;
}

.error-msg {
    color: var(--error-color, red);
}

.novedades, section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

.novedades__cabecera, section header {
    font-family: Titulo;
    font-size: 4em;
    width: 100%;
}
.novedades__articulo, article {
    margin: 10px;
    text-align: center;
    /* border: 1px solid var(--principal-text-color, black); */
}

.novedades__articulo-figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.novedades__articulo-summary, article summary {
    text-align: justify;
    width: 100%;
}
.novedades__articulo-figcaption, figcaption {
    font-size: small;
}

.img--redonda {
    border-radius: 50%;
}
@media (min-width: 576px) {
    .novedades__cabecera {
        font-size: 1.5em;
    }
    .novedades__articulo-summary {
        width: 300px;
    }  
}
@media (min-width: 768px) {
    .novedades__articulo-summary {
        width: 400px;
        font-size: 1.5em;
    }  
}
@media (min-width: 1200px) {
    .novedades__articulo-summary {
        width: 450px;
        font-size: 2em;
    }  
}
@media (max-width:320px) {
    .novedades__cabecera, section header {
        font-size: 1.5em;
    }
    .novedades__articulo-figure, figure {
        display: none;
    }  
}

@media print {
    input[type=submit], input[type=button], input[type=reset] {
        display: none;
    }
    body > header {
        display: none;
    }
    body {
        font-size: 10pt;
    }
    img {
        max-width: 200px;
    }
}

.col-1 {
    grid-column: 1;
}
.col-2 {
    grid-column: 2;
}
.col-3 {
    grid-column: 3;
}
.col-4 {
    grid-column: 4;
}
.colspan-2 {
    grid-column: span 2;
}
.colspan-3 {
    grid-column: span 3;
}
.colspan-4 {
    grid-column: span 4;
}

.row-1 {
    grid-row: 1;
}
.row-2 {
    grid-row: 2;
}
.row-3 {
    grid-row: 3;
}
.row-4 {
    grid-row: 4;
}
.row-4x2 {
    grid-row: 4 /span 2;
}
.rowspan-2 {
    grid-row: span 2;
}
.rowspan-3 {
    grid-row: span 3;
}
.rowspan-4 {
    grid-row: span 4;
}

.form {
    display: grid;
}
.form--col2 {
    grid-template-columns: 1fr 1fr;
}
.form--col3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.form__comand {
    text-align: right;
    grid-column: span 2;
}
.field {
    display: flex;
    flex-flow: row wrap;
}
.field label {
    margin-right: 10px;
}
.field input, .field select, .field__radio {
    width: 80%;
}
input[type=checkbox], input[type=radio] {
    max-width: 10%;
}


/*Parte del formulario de registro*/
@import url("variables.css");

/*Formulario  estilos*/
.form{
    background:var(--fondo--background, rgb(34, 34, 32));
    display: grid;
    padding: 1em;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(14, 13, 13);
    box-shadow: 5px -5px 0 2px rgb(22, 22, 22);
}

.form_input{
  background:var(--fondo--background, rgb(66, 66, 65));
    border: 1px solid #9c9c9c;
    color: white;
}


.etiqueta{  
    padding: 0.7em;
    margin-bottom: 0.5rem;}

.input{
    padding: 0.7em;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    color: white;
}



.input_hover:hover{  
  background: #1883ba;
  outline: 3px solid rgb(255, 255, 255);
  color: white;
}
  

  @media (min-width: 400px) {
    .form {
      grid-template-columns: 200px 1fr;
      grid-gap: 16px;
    }
  
    label {
      text-align: right;
      grid-column: 1 / 2;
    }
  
    input{
      grid-column: 2 / 3;
    }


/*Implimir*/
    @media print{
    .etiqueta{
      display:none;
    }
  }
    
  }
