<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="base">
        <div class="maindisplay">
          <div class="subdisplay">{{ subpantalla }}</div>
          {{ pantalla }}
        </div>
        <div class="keypad">
          <table style="width: 100%;">
            <tr>
              <td class="keys ackey" colspan="3" (click)="limpiar()">C</td>
              <td class="keys opkey" colspan="1" (click)="presspulsa('/')">/</td>
            </tr>
            <tr>
              <td class="keys numkey" (click)="presspulsa('7')">7</td>
              <td class="keys numkey" (click)="presspulsa('8')">8</td>
              <td class="keys numkey" (click)="presspulsa('9')">9</td>
              <td class="keys opkey" (click)="presspulsa('x')">x</td>
            </tr>
            <tr>
              <td class="keys numkey" (click)="presspulsa('4')">4</td>
              <td class="keys numkey" (click)="presspulsa('5')">5</td>
              <td class="keys numkey" (click)="presspulsa('6')">6</td>
              <td class="keys opkey" (click)="presspulsa('-')">-</td>
            </tr>
            <tr>
              <td class="keys numkey" (click)="presspulsa('3')">3</td>
              <td class="keys numkey" (click)="presspulsa('2')">2</td>
              <td class="keys numkey" (click)="presspulsa('1')">1</td>
              <td class="keys opkey" (click)="presspulsa('+')">+</td>
            </tr>
            <tr>
              <td colspan="2" class="keys numkey" (click)="presspulsa('0')">0</td>
              <td class="keys numkey" (click)="presspulsa('.')">.</td>
              <td class="keys equalkey" (click)="getCon()">=</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
