<h1>Añadir actor al registro</h1>
<form #miForm="ngForm">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label class="form-label" for="actorid"><b>Código del actor: </b></label>
            <input class="form-control" [class.is-invalid]="actorid.invalid && miForm.dirty" type="number" name="actorid" id="actorid" [(ngModel)]="VM.Elemento.id" #actorid="ngModel" required min="0" />
            <output class="invalid-feedback" [myShowErrors]="actorid.errors"></output>
        </div>
        <div class="form-group col-md-4">
            <label class="form-label" for="firstname"><b>Nombre: </b></label>
            <input class="form-control" [class.is-invalid]="firstname.invalid" type="text" name="firstname" id="firstname" [(ngModel)]="VM.Elemento.nombre" #firstname="ngModel" required minlength="2" maxlength="50" />
            <output class="invalid-feedback" [myShowErrors]="firstname.errors"></output>
        </div>
        <div class="form-group col-md-4">
            <label class="form-label" for="lastname"><b>Apellidos: </b></label>
            <input class="form-control" [class.is-invalid]="lastname.invalid" type="text" name="lastname" id="lastname" [(ngModel)]="VM.Elemento.apellidos" #lastname="ngModel" minlength="2" maxlength="50" />
            <output class="invalid-feedback" [myShowErrors]="lastname.errors"></output>
        </div>
        <div class="form-group col-md-6">
            <label class="form-label" for="lastupdate"><b>Ultima modificación: </b></label>
            <input class="form-control" type="date" name="lastupdate" id="lastupdate" [(ngModel)]="VM.Elemento.lastupdate" #lastupdate="ngModel" />
        </div>
    </div>
    <div class="form-group">
        <br>
        <app-form-buttons (send)="VM.send()" [send-disabled]="miForm.invalid" (cancel)="VM.cancel()"></app-form-buttons>
    </div>
</form>