<!--<h1>Actores </h1>
<input *ngIf="VM.auth.isAutenticated" class="fas fa-plus" type="button" value="Añadir" routerLink="add">
<div class="row mb-2">
    <div class="col-md-6" *ngFor="let item of VM.Listado | paginate: { itemsPerPage: 5, currentPage: page }">
        <div class="btn-group" role="group">
            <button *ngIf="VM.auth.isAutenticated" class="btn btn-success" [routerLink]="[item.actorid, 'edit']">
            <i class="fas fa-pen"></i>
          </button>
            <button *ngIf="VM.auth.isAutenticated" class="btn btn-danger" (click)="VM.delete(item.actorid)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <a [routerLink]="['/actores', item.id]">{{item.nombre}}</a>
        <p>{{item.apellidos}}</p>
    </div>
</div>
<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
</pagination-controls>-->
<table class="table table-striped table-hover">
    <thead>
        <tr class="table-info">
            <th class="display-4">Lista de actores</th>
            <th class="text-end">
                <button *ngIf="VM.auth.isAutenticated" class="btn btn-success" routerLink="add"><i class="fas fa-plus"></i> Añadir</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of VM.Listado | paginate: { itemsPerPage: 8, currentPage: page }">
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            <a class="btn btn-link btn-lg px-0" routerLink="{{item.id}}">
                {{item.nombre}} {{item.apellidos}}</a>
                            <br />
                        </div>
                    </div>
                </div>
            </td>
            <td class="align-middle text-end">
                <div class="btn-group" role="group">

                    <button class="btn btn-info" routerLink="{{item.id}}">
            <i class="fas fa-eye"></i> Ver</button>
                    <button *ngIf="VM.auth.isAutenticated" class="btn btn-success" [routerLink]="[item.id, 'edit']"><i class="fas fa-pen"></i> Editar</button>
                    <button *ngIf="VM.auth.isAutenticated" class="btn btn-danger" (click)="VM.delete(item.id)"><i class="far fa-trash-alt"></i> Borrar</button>

                </div>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
</pagination-controls>