@import url("variables.css");


/*Formulario*/
.form{
    color:var(--fondo-color, rgb(70, 68, 56));
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;

}

.form_input{
    background: #fff;
    border: 1px solid #9c9c9c;
}

.form_boton_hover:hover{
    background: rgb(230, 221, 173);
}

.etiqueta{  
     padding: 0.7em;
    margin-bottom: 0.5rem;}

.input{
    padding: 0.7em;
    margin-bottom: 0.5rem;
}



.input_hover:hover{  outline: 3px solid rgb(66, 64, 52);}


  @media (min-width: 400px) {
    .form {
      grid-template-columns: 200px 1fr;
      grid-gap: 16px;
    }
  
    label {
      text-align: right;
      grid-column: 1 / 2;
    }
  
    input{
      grid-column: 2 / 3;
    }


/*Implimir*/
    @media print{
    .etiqueta{
      display:none;
    }
  }
    
  }