<div class="container">
    <h1>{{VM.Elemento.autor}}</h1>
</div>
<div id="article" class="pt-5 pb-5 bg-secondary">
    <div class="container">
        <div class="row bg-white pb-4">
            <div class="col pr-0">
                <img src="{{VM.Elemento.fotourl}}" alt="" class="w-100">
            </div>
            <div class="col bg-white p-4">
                <h3 class="pt-2">{{VM.Elemento.titulo}}</h3>
                <p class="small text-secondary pb-2">{{VM.Elemento.fecha}}</p>

                <p class="pb-2">{{VM.Elemento.texto}}</p>
                <p>
                    <i class="fas fa-address-book mr-2"></i>{{VM.Elemento.autor}}
                    <br />

                    <i class="fas fa-calendar mr-2"></i>{{VM.Elemento.fecha | date:'dd/MM/yyyy'}}
                </p>
                <input class="btn btn-secondary" type="button" value="Volver" (click)="VM.cancel()">
            </div>
        </div>
    </div>
</div>