<div class="container">
    <h1>Añadir</h1>
    <form #miForm="ngForm">
        <div class="form-row ">
            <div class="form-group col-md-2">
                <label class="form-label" for="id">Código:</label>
                <input class="form-control" [class.is-invalid]="id.invalid && miForm.dirty" type="number" name="id" id="id" [(ngModel)]="VM.Elemento.id" #id="ngModel" required min="0" />
                <output class="invalid-feedback" [myShowErrors]="id.errors"></output>
            </div>

            <div class="form-group col-md-4">
                <label class="form-label" for="autor">Autor:</label>
                <input class="form-control" [class.is-invalid]="autor.invalid && miForm.dirty" type="text" name="autor" id="autor" [(ngModel)]="VM.Elemento.autor" #autor="ngModel" required minlength="2" maxlength="10" />
                <output class="invalid-feedback" [myShowErrors]="autor.errors"></output>
            </div>

            <div class="form-group col-md-4">
                <label class="form-label" for="titulo">Titulo:</label>
                <input class="form-control" [class.is-invalid]="titulo.invalid && miForm.dirty" type="text" name="titulo" id="titulo" [(ngModel)]="VM.Elemento.titulo" #titulo="ngModel" minlength="2" maxlength="20" required/>
                <output class="invalid-feedback" [myShowErrors]="titulo.errors"></output>
            </div>
        </div>

        <label class="form-label" for="texto">Texto:</label>
        <textarea name="texto" id="texto" cols="2" rows="5" class="form-control" [(ngModel)]="VM.Elemento.texto" #texto="ngModel" minlength="2">
  </textarea>

        <div class="form-group col-md-4">
            <label class="form-label" for="fecha">Fecha:</label>
            <input class="form-control" [class.is-invalid]="fecha.invalid" type="date" name="fecha" id="fecha" [(ngModel)]="VM.Elemento.fecha" #fecha="ngModel" minlength="2" maxlength="50" />
            <div class="invalid-feedback" [hidden]="!fecha?.errors?.minlength && !fecha?.errors?.maxlength">
                Debe tener entre 2 y 10 letras
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-12">
                <label class="form-label" for="fotourl">fotourl:</label>
                <input class="form-control" type="url" name="fotourl" id="fotourl" [(ngModel)]="VM.Elemento.fotourl" #fotourl="ngModel" maxlength="500" />
                <div class="invalid-feedback" [hidden]="!fotourl?.errors?.maxlength">
                    Debe tener menos 500 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group">
            <app-form-buttons (send)="VM.send()" (cancel)="VM.cancel()" [IsVisible]="miForm.invalid"></app-form-buttons>
        </div>

    </form>
</div>