
  <div class="table-info">
    <div  class="display-4">Blog</div >
    <div  class="text-end">
    <button class="btn btn-success" routerLink="add"><i class="fas fa-plus"></i> Añadir</button>
    </div >
    </div >
    <div *ngFor="let item of VM.Listado">

<div id="showcase" class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col pr-0">
        <img src="{{item.fotourl}}" alt="" class="w-100">
      </div>
      <div class="col bg-white p-4">
        <button class="btn btn-info" routerLink="{{item.id}}/{{item.nombre}}-{{item.apellidos}}">
          <i class="fas fa-eye"></i></button>        <h3 class="pt-2">{{item.titulo}}</h3>
        <p class="small text-secondary pb-2">{{item.fecha}}</p>
        <p>{{item.texto}}</p>


      </div>
    </div>
  </div>
</div>

<div id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="row bg-white m-2 p-4">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="{{item.fotourl}}" alt="" class="w-100">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <h5 class="pt-2">{{item.autor}}</h5>
          </div>
          <p class="pt-4 small">{{item.titulo}}</p>
          <p class="small">{{item.texto}}</p>
          <p class="small">{{item.fecha}}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="bg-white m-2 p-4">
          <i class="fas fa-quote-left fa-4x text-main mt-5"></i>
          <br>
          <div class="d-flex justify-content-center">
            <img src="{{item.fotourl}}" alt="Proxima" class="rounded-circle w-50">
          </div>
          <br>
          <div class="text-right">
            <i class="fas fa-quote-right fa-4x text-main"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="bg-white m-2 p-4">
          <img src="{{item.fotourl}}" alt="" class="w-100 pt-2">
          <p class="lead text-center pt-3">{{item.fotourl}}</p>
          <p class="text-secondary text-center text-uppercase small">{{item.fecha}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
