<h1>{{Nombre}}</h1>
<p>
  <input type="text" [(ngModel)]="Nombre">
  <input type="button" value="saludo" (click)="saludo()">
  <input type="button" value="despide" (click)="despide()">
  <input type="button" value="di algo" (click)="di('algo')">
  <input type="button" value="cambio" (click)="cambiar()">
</p>

<p [textContent]="resultado">Esto se piede</p>
<p [innerHTML]="resultado">Esto se piede</p>

<p [hidden]>"Invisible">Me ves</p>
<p *ngIf="visible">Ahora existe</p>
<p [ngClass]="estetica">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus at odit praesentium fuga nulla, corrupti repudiandae optio maxime perspiciatis itaque similique maiores deleniti. Quibusdam veritatis suscipit atque repudiandae vitae excepturi.
</p>

<p [class.casioculto]="!visible"></p>

<p>=Calcula 2+2= {{2+2}} = {{ calculo(2,2) }}</p>

<ul>
  <li *ngFor="let item of listado; let indice=index; let fondo=odd;"
[style.background-color]="fondo ? 'LightBlue' : 'Lavender'">
{{item.nombre}} {{item.id}} [Elemento] {{indice + 1}} de {{listado.length}}
</li>
</ul>

<p>
  <select [(ngModel)]="idProvincia" >
    <option value="">--Elige opción--</option>
    <option *ngFor="let p of listado" [value]="p.id">{{p.nombre}}</option>
    </select>

</p>
