<footer class="pt-5 pb-2 small bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-3 text-write">
                <p>
                    JM &copy; 2021
                </p>

            </div>
            <div class="col-9 text-right">
                <a href="#" class="text-black"><i class="fab fa-facebook-f pr-2"></i></a>
                <a href="#" class="text-black"><i class="fab fa-twitter pr-2"></i></a>
                <a href="#" class="text-black"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>