<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <p>Algo a salido mal</p>
                <h2>
                    Error 404 </h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div>
                    <img src="assets/ERROR-404.png" width="250" alt="error_404">
                </div>
                <div class="error-actions">
                    <a class="btn btn-primary btn-lg" routerLink="/inicio" routerLinkActive="active"><i class="fas fa-long-arrow-alt-right
                      "></i> Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>